<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  
  <link href="stylesheets/style.css" rel="stylesheet">
  <title>URL Shortener</title>
</head>
<body>
 <h1>URL Shortener Microservice</h1>
<h2>Example creation usage:</h2>
<p><strong>https://josuebrizuelaxd-url-shortener.herokuapp.com/new/https://www.google.com</strong></p>	
<h2>Example creation output:</h2>	
<p><strong>{ "original_url":"https://www.google.com", "shortUrl":"8170" }</strong></p>	

	<h2>Usage:</h2>
	<p><strong>https://josuebrizuelaxd-url-shortener.herokuapp.com/new/8170</strong></p>
	<p></p>
	<h2>Will redirect to:</h2>
	<p><strong>https://www.google.com/</strong></p>
</body>
</html>
